/*!
 *  build: vue-admin-beautiful 
 *  copyright: chuzhixin 1204505056@qq.com 
 *  time: 2020-11-19 10:05:59
 */[data-v-ad9c2da0]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34}[class*=-container][data-v-ad9c2da0]{padding:15px;background:#fff}